<form class="login-form">
  <label for="email-login">Email:</label>
  <input type="text" id="email-login" />

  <label for="password-login">Password:</label>
  <input type="password" id="password-login" />

  <button type="submit">Login</button>
</form>

<p><a href="/signup">Sign up instead?</a></p>

<script src="/javascript/login.js"></script>